* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(imagen/pokeballs.jpg);
  position: relative;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}
h2 {
  font-size: 1.2em;
  padding: 0 0.5em 0.5em 0.5em;
}

h1,
h2 {
  margin-top: 1em;
  font-family: 'Press Start 2P';
  text-align: center;
  color: #ffffff;
}

ul {
  list-style: none;
}

/***** HEADER *****/
.header {
  background-color: #f51939;
  flex-direction: columns;
  padding: 1em;
  max-width: 100em;
}

.welcome {
  display: flex;
  justify-content: space-around;
}

.welcome img {
  width: 15%;
  height: 50%;
  padding: 0.5em;
  margin: auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em 0.5em 0.5em;
}

#searchBar {
  background-image: url("imagen/Pokebola.png");
  background-size: 2.5em 2.5em;
  background-repeat: no-repeat;
  background-position: left center;
  width: 20em;
  height: 2.8em;
  text-align: center;
  font-family: 'Gloria Hallelujah';
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 3em;
}

.navegationbar {
  /*ANTES nav*/
  background-color: #f51939;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.navegationbar ul {
  display: flex;
  padding: 0;
}

.navegationbar li,
button {
  margin-left: 2em;
}

.navegationbar li:first-child {
  margin: 0;
}

.navegationbar ul select,
button {
  display: block;
  padding: 0.1em;
  border-radius: 2em;
  font-family: 'Gloria Hallelujah';
  font-size: 0.80em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: 13em;
  height: 2.3em;
}


/**** MAIN ****/
.banner img {
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

  /*Clase padre*/
.allPokemon {
  top: 1.25em;
  bottom: 6.25em;
  border-radius: 1.25em;
  left: 1.25em;
  right: 1.25em;
}

 /* Clase Hijo. Muestra los pokemon en columnas */
#pokemonInfo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  background-color: #ffffff;
  border-radius: 1em;
  margin: 2.5em 2.5em;
  padding-left: 1em;
}

  /* Clase creada con JS, clase nieto*/
.pokeInfo {
  border-radius: 0.2em;
  padding: 0.93em;
  border-width: 0.25em;
  margin: 3em 2.5em 3em 1.5em;
  text-align: center;
  box-shadow: 0.37em 0.37em 0.37em #828182;
  background: rgb(143, 143, 143);
  background: linear-gradient(
    140deg,
    rgba(143, 143, 143, 1) 0%,
    rgba(165, 171, 177, 1) 47%,
    rgba(75, 80, 89, 1) 100%
  );
}

.pokeInfo p {
  margin-top: 0.5em;
  font-family: 'Gloria Hallelujah';
  font-size: 0.9em;
  color: #ffffff;
  font-weight: bold;
}

.pokeInfo h3 {
  margin-top: 0.5em;
  font-family: 'Gloria Hallelujah';
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
}

.pokeInfo img {
  background-color: #ccccccf6;
  border-radius: 0.2em;
}

/******* *PANTALLA 2 *******/
.hiddenScreen {
  display: none;
}

#secondScreen {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 1em;
  margin: 2.5em 2.5em;
}

/*div1 padre de divPercen y de imgPokedex*/
.divPokedex {
  margin: auto;
  padding: 0.31em;
  background-color: #ffffff;
}

.divPercen {
  justify-content: center;
  align-items: center;
  font-family:'Gloria Hallelujah';
  font-size: 1.3em;
  padding: 1em;
  position: absolute;
  background-color: #ffffff;
  margin: 10em 0.5em 2.5em 5em;
  width: 15%;
}

.text {
  font-size: 1.2em;
  font-weight: bold;
}

.imgPokedex {
  justify-content: flex-end;
  border-radius: 1.5em;
  width: 25em;
  margin: 3.5em;
}

/*div 2*/
.divImg {
  background-color: #ffffff;
  width: 50%; 
  border-radius: 0 1em 1em 0;
}

.divImg img {
  display: block;
  margin: 11em 0 4em;
  padding: 0.5em;
  width: 95%;
}

/*FOOTER*/
footer {
  display: flex;
  background-color: #f51939;
  padding: 0.09em;
  font-family:'Gloria Hallelujah';
  color: white;
  text-align: center;
  height: 8.5em;
}

footer .developers .rights {
  padding: 0.5em 1.5em;
}

.developers {
  justify-items: center;
  text-align: center;
  width: 50%;
  margin: 0.5em 1em 0.4em 1em;
}

.developers img {
  width: 1.8em;
  height: 1.8em;
  margin-left: 1em;
}

.developers div {
  display: flex;
  padding: 0.3em;
  justify-content: space-between;
}

.rights {
  flex-direction: columns;
  text-align: center;
  padding: 0.8em;
  width: 50%;
  border-left: solid 0.01em #ffffff;
}

.rights img {
  width: 11em;
  height: 1.8em;
  margin-top: 1em;
}

.developers p {
  margin-bottom: 0.5em;
}
.rights p {
  padding: 0 0.5 0.5 0.5em;
}

/******MEDIA QUERIES*******/

@media (max-width: 850px) {
  /* Pantalla 1 */
  #pokemonInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }

  /*Pantalla 2 */
  .divPercen {
    font-size: 1.5em;
    width: 20%;
    margin: 8.2em 0.5em 1em 4em;
  }

  .imgPokedex {
    border-radius: 1.56em;
    width: 21.87em;
    margin-top: 3.5em;
  }

  .divImg {
    width: 100%;
    border-radius: 0 0 1em 1em;
  }

  .divImg img {
    margin: 4em 0 2em;
  }
}

/*****************************************/
@media (max-width: 400px) {
  /* Header */
  h1 {
    font-size: 1em;
    margin: 0.8em 0 0 0.5em;
  }

  h2 {
    font-size: 0.6em;
    margin: 0.8em 0 2em 0;
    line-height: 1.3em;
  }
  .welcome img {
    width: 25%;
    height: 15%;
  }

  #searchBar {
    height: 2em;
  }

  .navegationbar {
    justify-content: space-around;
  }

  .navegationbar ul select,
  button {
    width: 10em; 
    height: 3em; 
    font-size: 0.5em; 
    margin-right: 1em;
  }

  .navegationbar li,
  button {
    margin: auto;
  }

  /*Pantalla 1*/
  /* Clase Hijo*/
  #pokemonInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.06em;
    line-height: 1em;
    border-radius: 1em;
    margin-top: 1em;
    padding-left: 0.5em;
    padding-bottom: 1.2em;
  }

  /* Clase creada con JS, clase nieto*/
  .pokeInfo {
    margin: 1em 1em 0 0.5em;
    padding: 0.5em;
  }

  /* Pantalla 2*/
  .imgPokedex {
    border-radius: 1.5em;
    width: 10em;
    margin: 3.5em;
  }

  .divPercen {
    padding: 0.2em;
    font-size: 1.2em;
    width: 30%;
    margin: 4.8em 2em 12.5em 2.8em;
  }

  .text {
    font-size: 0.8em;
    font-weight: bold;
  }

  .divImg {
    width: 100%;
    border-radius: 0 0 1em 1em;
  }
}

