* { 
    box-sizing: border-box;  
    margin: 0;
    padding: 0; 
}

body {
  background-image: url(imagen/pokeballs.jpg);  
  position: relative;
}

h1 {
    font-family:'Retro Land Mayhem', sans-serif;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    margin: 1em 0 0.5em 0.7em; /*arriba, derecha, abajo, izquierda*/
    /*margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0.7em;*/
}

h2 {
    font-family: 'Retro Land Mayhem', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
   }


/*HEADER*/
.header{
    background-color: #F51939;
    height: 15.5em ;
   }
   
.welcome{
    display:flex;
    justify-content: space-around;
   }

.welcome img {
    margin: 1.5em 0 0 0.5em; /*arriba, derecha, abajo, izquierda*/
    /*margin-top: 1.5em;
    margin-left: 0.5em;*/
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em ;
   }

#searchBar{
    background-image: url("imagen/Pokebola.png");
    background-size: 1.8em 1.8em;
    background-repeat: no-repeat;
    background-position: left center;
    width: 13em;
    height: 1.8em;
    text-align: center;
    font-family: 'AngelToes', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 3em;
   }

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    }
   
.menu{
    display: flex;
    text-align: center;
    list-style: none;
   } 
   
.navegationbar select {   
    margin-top: 1em;
    width: 10em;
    height: 1.8em;
    border-radius: 3em;
    text-align: center;
    font-family: 'AngelToes', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
}

.menuitem{
    display: flex;
    margin: 0 1.80em; 
    text-decoration: none;
   } 

/*MAIN*/
.banner img {
    width: 100%;
    height: auto;
  }

.banner {
     position: relative;
     width: 100%;
     height: auto;
     object-fit: cover;
}
      

.allPokemon { /*Clase padre*/
    top: 20px;
    bottom: 100px;
    border-radius: 20px;
    left: 20px;
    right: 20px;
}
    
/* muetsra los pokemon en columnas */
#pokemonInfo { /* Clase Hijo*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
    background-color: #ffffff;
    border-radius: 1em;
    margin: 2.5em 2.5em;/*arriba, derecha, abajo, izquierda*/
    padding-left: 1em;
}

.pokeInfo { /* Clase creada con JS, clase nieto*/
    border-radius: 3px;
    padding: 15px;
    border-width: 4px;
    margin: 3em 2.5em 3em 1.5em; /*arriba, derecha, abajo, izquierda*/
    /*margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 1.5em;
    margin-right: 2.5em;*/
    text-align: center;
    box-shadow: 6px 6px 6px #ECE2E2;
    /*#EEC4C4 #E0C097 #ECE2E2 #E8EAE6 #aca1a1ab*/
    background-color: #d1d1d1bb;
}

.pokeInfo p {
    margin-top: 0.5em;
    font-family: 'AngelToes', sans-serif;
    font-size: 0.9em;
    color: black;
    font-weight: bold;
}

.pokeInfo h3 {
    margin-top: 0.5em;
    font-family: 'AngelToes', sans-serif;
    font-size: 1.2em;
    color: black;
    font-weight: bold; 
}

.pokeInfo img {
    background-color: #EFEFEF;
}

.content {
    position:relative;
}


@media (max-width: 728px) {  
       h1 {
            margin: 0.8em 0 0 0.5em;
            /*margin-top: 0.8em;
            margin-left: 0.5em;*/
            font-size: 1em;
            text-align: center;
       }

       h2 {
            margin: 0.8em 0 2em 0;
            /*margin-top: 0.8em;
            margin-bottom: 2em;*/
            font-size: 0.6em;
            text-align: center;
       }

       /*HEADER*/
        .header{
            width:100%;
            height: 13em;
       }

       .welcome img {
            margin: 1em 0 0 0.5em;
            /*margin-top: 1em;
            margin-left: 0.5em;*/
            width: 4em;
            height: 3em;
        }

        #searchbar{
            width: 12em;
            height: 1.8em;
            text-align: center;
            border-radius: 10px;
            margin-top: 1.5em;
           }

        .navegationbar select {   
            width: 7em;
            height: 1.8em;
        }

        .menuitem{
            display: flex;
            margin: 0 1em; 
            text-decoration: none;
       } 

        #pokemonInfo { /* Clase Hijo*/
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1px;
            line-height: 1em;
            border-radius: 1em;
            margin-top: 1em;
            padding-left: 0.5em;
            padding-bottom: 1.2em;
       }

       .pokeInfo { /* Clase creada con JS, clase nieto*/
            margin: 1em 1em 0 0.5em;
            /*margin-right:1em ;
            margin-left: 0.5em;*/
            padding: 0.5em;
       }
    } 


